# Raw data (locally only)
data/raw/*

# External sources (AGORA) (locally only)
data/external/

# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Conda / environments
.conda/
.env

# Windows
Thumbs.db

# Editors
.vscode/
.idea/